.selectorBox {
  display: flex;
  .item {
    border: 1px solid #888;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    height: 50px;
  }
  .target {
    background: #888;
  }
  .color {
    width: 100px;
    height: 100px;
  }
  .Red {
    background: red;
  }
  .Blue {
    background: blue;
  }
  .Orange {
    background: orange;
  }
}